.sidebar {
  background-color: $color-primary;

  grid-column: full-start / full-end;
  grid-row: 1 / 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  margin-left: 2rem;
  &__name {
    // align-self: flex-start;
    margin-left: 1rem;
    font-family: $font-display;
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
  }
  &__logo {
    fill: #fff;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.navigation {
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  list-style: none;
  text-transform: uppercase;

  &__link:link,
  &__link:visited {
    font-family: $font-display;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:visited {
    background-color: rgba($color-secondary, 0.5);
  }
}
